backend/workflows/redimir-puntos.json
{
  "name": "CHUCULAT | Redimir Puntos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "redeem-points",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        0
      ],
      "id": "e21364a8-8409-48ad-bd8e-ee6bc3328a07",
      "name": "Webhook",
      "webhookId": "ddd7a52d-84a6-4d04-95a3-1a5b237acdd0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9IFuoUXeS0I9baaw",
          "name": "CHUCULAT | Redencion Header"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "15d51dcc-040e-4c6a-80f7-a0021685b17e",
              "leftValue": "={{ $json.body.pointsToRedeem }}",
              "rightValue": "={{ $json.body.currentPoints }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "7e99dced-f66b-46f3-827d-4473a36b4c0e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook').item.json.body.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "Bearer <GHL_PRIVATE_TOKEN>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    { \"id\": \"UfFc9GjS1K9az8nactO5\", \"value\": \"{{ $json.newPoints }}\" },\n    { \"id\": \"jyDAuEv0t1ugBAop1HAQ\", \"value\": \"{{ $json.newUsedPoints }}\" },\n    { \"id\": \"ciYvzjlWfz9RcmIlqRkO\", \"value\": \"{{ $json.puntosHistory }}\" },\n    { \"id\": \"KK5lI6yJVEB9WhGwdFpa\", \"value\": \"{{ $json.fechaRedencion }}\" },\n    { \"id\": \"xmOqbRfTg5xaE2WCKfzS\", \"value\": \"{{ $json.detalleRedencion }}\" }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -208
      ],
      "id": "8f440401-2a86-4495-87a7-2c9aaeb8a3ce",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Puntos redimidos\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1168,
        -208
      ],
      "id": "98145849-c254-4c2e-8124-f9dcc9e1ff26",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Lee saldo y redimidos por ID de campo (no por índice: GHL omite campos vacíos)\nconst cf = (($('Leer Contacto').first().json.contact) || {}).customFields || [];\nconst val = id => { const f = cf.find(x => x.id === id); return f ? (Number(f.value) || 0) : 0; };\nconst SALDO='UfFc9GjS1K9az8nactO5', REDIMIDOS='jyDAuEv0t1ugBAop1HAQ';\n\nconst currentPoints  = Number($('Webhook').first().json.body.currentPoints || 0);\nconst pointsToRedeem = Number($('Webhook').first().json.body.pointsToRedeem || 0);\nconst usedPoints     = val(REDIMIDOS);\n\nconst newPoints     = currentPoints - pointsToRedeem;   // saldo restante\nconst newUsedPoints = usedPoints + pointsToRedeem;      // redimidos acumulado\nconst puntosHistory = newPoints + newUsedPoints;        // histórico (ganado) = saldo + redimidos\n\n// Fecha y detalle de esta redención\nconst hoy = new Date();\nconst fechaRedencion = hoy.toISOString().split('T')[0]; // YYYY-MM-DD (campo DATE)\nconst dd = String(hoy.getDate()).padStart(2,'0');\nconst mm = String(hoy.getMonth()+1).padStart(2,'0');\nconst detalleRedencion = dd+'/'+mm+'/'+hoy.getFullYear()+' · '+pointsToRedeem+' pts';\n\nreturn [{ json: { newPoints, newUsedPoints, puntosHistory, fechaRedencion, detalleRedencion } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -208
      ],
      "id": "f39ace3a-04ae-44e9-a64c-339b2bb23df2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"No se pudieron redimir los puntos\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        96
      ],
      "id": "5e4e483d-7bf8-450d-8038-20a86946f8fd",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Webhook').item.json.body.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "Bearer <GHL_PRIVATE_TOKEN>"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        -192
      ],
      "id": "cf538838-092a-46bf-9331-58081f1abe3c",
      "name": "Leer Contacto"
    },
    {
      "id": "mq0p3baml05rqz",
      "name": "Log: Preparar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1336,
        12
      ],
      "parameters": {
        "jsCode": "const body=$('Webhook').first().json.body||{};\nconst contact=$('Leer Contacto').first().json.contact||{};\nconst now=new Date();\nreturn [{ json: { ext_id: Date.now().toString(36)+Math.random().toString(36).slice(2), timestamp: now.toISOString(), fecha: now.toISOString().split('T')[0], tipo:'redencion', contact_id: body.contactId||'', contact_name: ((contact.firstName||'')+' '+(contact.lastName||'')).trim(), phone: contact.phone||'', points: Number(body.pointsToRedeem)||0, source:'redencion', invoice_id:null, siigo_id:null,\n    // Detalle de lo redimido: [{sku,nombre,puntos,precio_cop,qty}] (lo manda el sitio de redencion)\n    items: Array.isArray(body.items) ? body.items.map(i => ({\n      sku: String(i.sku||''), nombre: String(i.nombre||''),\n      puntos: Number(i.puntos)||0, precio_cop: Number(i.precio_cop)||0,\n      qty: Number(i.qty)||1\n    })) : null } }];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wavqyesyqqmawjfaztvb.supabase.co/rest/v1/puntos_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<JWT_REDACTED>"
            },
            {
              "name": "Authorization",
              "value": "Bearer <JWT_REDACTED>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "sb-ins-red",
      "name": "Insertar Supabase Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        500
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Leer Contacto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log: Preparar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Contacto": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Preparar Entrada": {
      "main": [
        [
          {
            "node": "Insertar Supabase Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}