backend/workflows/test-log-activity.json
{
 "name": "CHUCULAT | TEST Log Activity",
 "nodes": [
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "test-log-activity",
    "responseMode": "responseNode",
    "options": {}
   },
   "id": "n1",
   "name": "Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    240,
    304
   ],
   "webhookId": "test-log-chuculat-001"
  },
  {
   "parameters": {
    "jsCode": "const body=$('Webhook').first().json.body||{};\nconst date=body.date||new Date().toISOString().split('T')[0];\nconst ts=body.timestamp||(date+'T12:00:00.000Z');\nreturn [{ json: { ext_id: Date.now().toString(36)+Math.random().toString(36).slice(2), timestamp: ts, fecha: date, tipo: body.type||'suma_puntos', contact_id: body.contactId||'', contact_name: body.contactName||'', phone: body.phone||'', points: Number(body.points)||0, source: body.source||'manual', invoice_id: body.invoiceId||null, siigo_id: body.siigoId||null } }];"
   },
   "id": "tl-prep",
   "name": "Preparar Entrada",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    460,
    300
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://wavqyesyqqmawjfaztvb.supabase.co/rest/v1/puntos_log",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "apikey",
       "value": "<SUPABASE_SERVICE_ROLE>"
      },
      {
       "name": "Authorization",
       "value": "Bearer <SUPABASE_SERVICE_ROLE>"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      },
      {
       "name": "Prefer",
       "value": "return=minimal"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify($json) }}",
    "options": {}
   },
   "id": "tl-ins",
   "name": "Insertar Supabase",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    680,
    300
   ],
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 2000
  },
  {
   "parameters": {
    "respondWith": "json",
    "responseBody": "={ \"ok\": true }",
    "options": {}
   },
   "id": "tl-resp",
   "name": "Responder",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1,
   "position": [
    900,
    300
   ]
  }
 ],
 "connections": {
  "Webhook": {
   "main": [
    [
     {
      "node": "Preparar Entrada",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Preparar Entrada": {
   "main": [
    [
     {
      "node": "Insertar Supabase",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Insertar Supabase": {
   "main": [
    [
     {
      "node": "Responder",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "callerPolicy": "workflowsFromSameOwner",
  "availableInMCP": false
 }
}